<h2><%= @user.username %>'s Workouts</h2>
<% if @user.workouts.empty? %>
    <h4>You currently have no workouts.</h4><br>
    <a class="button" href="/workouts/new">Add a Workout</a>
<% else %>
    <table align="center">
        <tr>
            <th>Date</th>
            <th>Activity Description</th>
            <th>Duration</th>
            <th></th>
        </tr>
        <% @user.workouts.each do |workout| %>
            <tr class="workout">
                <td><%= workout.date %></td>
                <td><%= workout.activity_description %></td>
                <td><%= workout.duration %></td>
                <td><a href="/workouts/<%= workout.id %>" title="View"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
            </tr>
    <% end %>
    </table>
    <br></br>
    <a class="button" href="/workouts/new"><i class="fa fa-plus" aria-hidden="true"></i></a>
<% end %>