<h1><%= @user.username %>'s Workouts</h1>
<% if @user.workouts.empty? %>
    <h4>You currently have no workouts.</h4>
<% else %>
    <table>
        <tr>
            <th>Date</th>
            <th>Activity Description</th>
            <th>Duration</th>
            <th>View Workout</th>
        </tr>
        <% @user.workouts.each do |workout| %>
            <tr>
                <td><%= workout.date %></td>
                <td><%= workout.activity_description %></td>
                <td><%= workout.duration %></td>
                <td><a href="/workouts/<%= workout.id %>">Link</a></td>
            </tr>
    <% end %>
    </table>
    <br></br>
<% end %>

<style>
    table {
    border-collapse: separate;
    border-spacing: 50px 0;
    }

    td {
    padding: 10px 0;
    }
</style>

<a href="/workouts/new">Add New Workout</a>

<br></br>
<a href="/users/logout">Log Out</a>