<table align="center">
    <tr>
        <th>Date</th>
        <th>Activity Description</th>
        <th>Duration</th>
        <th></th>
        <th></th>
    </tr>
        <tr class="workout">
            <td><%= @workout.date %></td>
            <td><%= @workout.activity_description %></td>
            <td><%= @workout.duration %></td>
            <td><a href="/workouts/<%= @workout.id %>/edit" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            <td>
                <form action="/workouts/<%= @workout.id %>/delete" method="POST">
                    <input id="hidden" type="hidden" name="_method" value="delete">
                    <button type="submit" title="Delete"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
                </form>
            </td>
        </tr>
</table>